@using FluentBootstrap

<div class="background-row row grey darken-1 mask pattern-7" />

<div class="container post-container">
    @using (var row = Html.Bootstrap().GridRow().Begin())
    {
        using (row.GridColumn().Begin())
        {
                <!--Featured Image-->
            <div class="view overlay hm-white-slight z-depth-2">
                @Html.Bootstrap().Placeholder(1170, 330)
                @*<img src="@Metadata["PromoImageUrl"]" class="img-fluid" alt="">*@
            </div>
        }
        using (row.GridColumn().Begin())
        {
                <!--Post data-->
            <div class="jumbotron card grey lighten-5">
                <div class="card-block">
                    <h2 class="h2-responsive center-on-small-only">@Metadata["Title"]</h2>
                    <hr>
                    <h5 class="h5-responsive text-muted center-on-small-only">Cody Swendrowski - @Metadata["Published"]</h5>

                    <article class="blog-post flow-text">
                        @Html.Raw(Metadata["Post"])
                    </article>
                </div>

                <div class="card-action social-counters">
                    <a type="button" class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"></i></a>

                    <a type="button" class="btn-floating btn-large btn-gplus"><i class="fa fa-google-plus"></i></a>

                    <a type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        }
        using (row.GridColumn().Begin())
        {
            <div class="jumbotron card grey lighten-4">
                <div class="card-block">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                         */
                        /*
                        var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');

                            s.src = '//swendrowski.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        }
    }
</div>
